.sidebar_holder {
  float: left;
  padding-top: 50px;
  padding-left: 50px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 265px;
}

.sidebar_component {
  width: 100%;
}

.filter {
  font-size: 21px;
}

.filter:hover {
  opacity: 0.6;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
