.row {
  margin-left: 0px;
  margin-right: 0px;
}

.div-handler {
  width: 2em;
}

.first-div {
  width: 1em;
  padding: 5px;
  /* opacity: 0.4; */
  border: 5px solid;
  margin: 3px;
  margin-right: 10px;
}

.second-div {
  /* width: 60%; */
}

.third-div {
  font-weight: bolder;
}

.item_table {
  width: 100%;
  text-align: left;
  vertical-align: middle;
}

.hover-class .hover-comment {
    visibility: hidden;
    width: 3em;
}

.hover-class:hover .hover-comment {
    visibility: visible;
    width: 3em;
}

svg-icon {
  width: 16px;
  height: 16px;
}

.item_priority {
  width: 1em;
}

.item_title_category_comment {

}

.item_project {
  width: 8em;
}

.item_edit {
  width: 2em;
}
