.row {
  margin-left: 0px;
  margin-right: 0px;
}

.div-handler {
  width: 2em;
}

.first-div {
  width: 1em;
  padding: 5px;
  /* opacity: 0.4; */
  border: 5px solid MidnightBlue;
  margin: 3px;
  margin-right: 10px;
}

.second-div {
  width: 60%;
}

.third-div {
  width: 8%;
  font-weight: bolder;
}

.hover-class .hover-comment {
    visibility: hidden;
}

.hover-class:hover .hover-comment {
    visibility: visible;
}
